# Python

__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments

venv/
.venv/

# Environment files
.env
.env.*

# Alembic cache
migrations/__pycache__/

# Docker
docker-data/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Local database / backups
data/
*.sqlite
*.db
